<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <h3><%=data.title%></h3>
    <p class="author"><%=data.author%></p>
    <p><%=data.date%></p>
    <p class="content"><%-data.content%></p>

</body>
</html>
